<%- include('./partials/header') %>
<section style="padding: 0 0 150px 0;">
    
    <div class="container" style="margin-top: 100px;">
        <h1>UPDATE PRODUCT</h1>
        <form style="width: 400px;" action="/books" method="PUT">
            <div class="mb-3">
                <label for="title" class="form-label">Title:</label>
                <input type="text" class="form-control" value="<%= result.name %>" name="name" id="title" required>
            </div>
            <div class="mb-3">
                <label for="author" class="form-label">Author</label>
                <input type="text" class="form-control" value="<%= result.author %>" name="author" id="author" required>
            </div>
            <!-- <div class="mb-3">
                <label for="category" class="form-label">Category</label>
                <select class="form-select" name="category" aria-label="Default select example">
                    <option value="Category 1">Category 1</option>
                    <option value="Category 2">Category 2</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input type="text" class="form-control" name="price" id="price" required>
            </div>    -->
            <div class="mb-3">
                <label for="release_year" class="form-label">Release Year</label>
                <input type="text" class="form-control" value="<%= result.release_year %>" name="release_year" id="release_year" required>
            </div> 
            <div class="mb-3">
                <label for="genres" class="form-label">Genres</label>
                <input type="text" class="form-control" value="<%= result.genres %>" name="genres" id="genres" placeholder="Fiction, Classic..." required>
            </div> 
            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="/books" class="btn btn-light" style="background-color: rgb(189, 189, 189); color: whitesmoke; margin-left: 20px;">Cancel</a>
        </form>
    </div>
</section>
